<configuration>
  <appSettings>
    <add key="PartnerId" value="20000059" />
    <add key="Token" value="f4967a384374f96f6eee95e218c49a74" />
    <add key="BaseUrl" value="https://med-biz.wecity.qq.com/api/aiyixue" />

    <!--<add key="PartnerId" value=""/>
    <add key="Token" value=""/>
    <add key="BaseUrl" value=""/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <!--<system.webServer>
        <defaultDocument>
            <files>
                <add value="GetAIResult.ashx" />
            </files>
        </defaultDocument>
    </system.webServer>-->

</configuration>