<configuration>
  <appSettings>
    <add key="PartnerId" value="20000059" />
    <add key="Token" value="be2b2afad82c4442790c2857ca0f636a" />
    <add key="BaseUrl" value="https://med-biz-pre.wecity.qq.com/api/aiyixue" />

    <!--<add key="PartnerId" value=""/>
    <add key="Token" value=""/>
    <add key="BaseUrl" value=""/>-->
  </appSettings>
  <connectionStrings>
    <add  name="DB_WJ" connectionString="User ID=sa;Password=123;Initial Catalog=test;Data Source=LZ-PC\SQLEXPRESS;"/>
    <add  name="DB_CJ" connectionString="User ID=sa;Password=123;Initial Catalog=test;Data Source=LZ-PC\SQLEXPRESS;"/>
    <add  name="DB_XCJ" connectionString="User ID=sa;Password=123;Initial Catalog=test;Data Source=LZ-PC\SQLEXPRESS;"/>
    <add  name="DB_ZQJ" connectionString="User ID=sa;Password=123;Initial Catalog=test;Data Source=LZ-PC\SQLEXPRESS;"/>
    <add  name="DB_WJ" connectionString="User ID=sa;Password=123;Initial Catalog=test;Data Source=LZ-PC\SQLEXPRESS;"/>

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <!--<system.webServer>
        <defaultDocument>
            <files>
                <add value="GetAIResult.ashx" />
            </files>
        </defaultDocument>
    </system.webServer>-->

</configuration>